<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.db.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.tony.db.po.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="states" jdbcType="SMALLINT" property="states"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="getByNameOrPhone" resultMap="BaseResultMap">
        select user_id,
        user_name,
        real_name,
        mobile,
        pwd,
        create_time,
        states,
        remark
        from public.tb_sys_user
        <trim prefix="where" suffixOverrides="or">
            <if test="!@kotlin.text.StringsKt@isBlank(userName)">
                user_name = #{userName,jdbcType=VARCHAR} or
            </if>
            <if test="!@kotlin.text.StringsKt@isBlank(mobile)">
                mobile = #{mobile,jdbcType=VARCHAR} or
            </if>
        </trim>
        limit 1
    </select>

    <select id="getByUserNameAndPwd" parameterType="hashmap" resultMap="BaseResultMap">
        select user_id,
               user_name,
               real_name,
               mobile,
               pwd,
               create_time,
               states,
               remark
        from public.tb_sys_user
        where user_name = #{userName,jdbcType=VARCHAR}
        and pwd = #{pwd,jdbcType=VARCHAR}
        and states = 1
    </select>
</mapper>
