<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-core.xml"/>

    <springProfile name="dev">
        <logger name="trace-logger" level="TRACE" />
        <logger name="request-logger" level="TRACE" />
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>

    <springProfile name="qa,prod">
        <include resource="logback-web.xml"/>
    </springProfile>
</configuration>
